# Custom snippets go here.

# This Flutter one should already be used via vim-snippets.
# snippet stless
#	class $1 extends StatelessWidget {
#		@override
#		Widget build(BuildContext context) {
#			return Container(
#				$2
#			);
#		}
#	}
